@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}
